<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Debate Bot</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>
  <nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class = "brand-logo" >
      <!-- <img src="../../assets/debatebotlogo.jpg" /></a> -->
    <ul class="right hide-on-med-and-down">
      <li><a href [routerLink]="['/bot']">Verify An Article</a></li>
      <li><a>Ask our Bot</a></li>
      <li><a>Notify Me</a></li>
    </ul>
  </div>
  </nav>
<h1>Here are some Trending Words</h1>
</body>
</html>
