.nav-wrapper img{
  height: 75%;
  width: 200px;
}
nav.nav-extended{
  height: 123px;
}
.nav-wrapper img{
  height: 75%;
  width: 200px;
}
nav.nav-extended{
  height: 62px;
}
.botbody{
  height: 780px;
}
.title h1{
  color: white;
}
.sqs h1{
  color: white;
  padding: 70px 0;
  border: 3px solid white;
  text-align: center;
}
.articles {
  background-color: green;
}
#articlebox{
  background-color: grey;
}
