<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">s
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Debate Bot</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>
<div class = "botbody" style = "background-image:url('../../assets/Politics.jpeg')" height=780px>
    <div class="sqs">
      <h1>Incredibly Smart A.I</h1>
    </div>
    <div class = "row" id = "articlebox">

        <p *ngFor="let article of articles">
          {{article.title}}
        </p>

    </div>
</div>
</body>
</html>
