.nav-wrapper img{
  height: 75%;
  width: 200px;
}
nav.nav-extended{
  height: 123px;
}
.nav-wrapper img{
  height: 75%;
  width: 200px;
}
nav.nav-extended{
  height: 62px;
}
.botbody{
  height: 780px;
  margin-top: -33px;
}
.title h1{
  color: white;
}
.sqs h1{
  color: white;
  margin-top: 0px;
}
