.botbody{
  height: 780px;
}
.title h1{
  color: white;
}
.sqs{
  margin-top: -37px;
}
.sqs h1{
  color: white;
  padding: 70px 0;
  border: 3px solid white;
  text-align: center;
}
.articles {
  background-color: green;
}
#articlebox{
  background-color: grey;
}
#bot{
  background-color: #2A6CA9;
}
.form{
  background-color: grey;
}
